.navigationContainer {
    padding: 12px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navigationList {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.link {
    color: black;
    text-decoration: none;
}

.active {
    color: orange;
}